@charset "utf-8";
.About{
    float: left;
    .About_main{
        margin: 0 auto;
        width: 700px;
        h3{
            
            font-size: 12px;
            font-weight: bolder;
            line-height: 23px;
            margin-top: 5px;
            border-bottom: 2px solid #CCCCCC;
            img{
            
                margin-right: 3px;
                margin-left: 6px;
                vertical-align:middle;
            }
        }
        >div{
            padding: 0 12px;
            p{
                
                font-size: 12px;
                text-indent: 30px;
               letter-spacing: 2px;
                margin-top: 5px;
                margin-bottom: 20px;
                line-height: 23px;
            }
        }
    }
    
}
