
.chuxiao {
    width: 704px;
    height: 594px;
    float: right;
}

.chuxiao .top {
    width: 700px;
    height: 38px;
    margin-left: 15px;
    border-bottom: 1px solid #dcdcdc;
}

.chuxiao .top img {
    float: left;
    margin-left: 6px;
    margin-top: 16px;
}

.chuxiao .top span {
    font-size: 12px;
    float: left;
    margin-top: 17px;
    margin-bottom: 9px;
    margin-left: 4px;
    font-weight: bolder;
}

.chuxiao .content_w {
    width: 700px;
}

.chuxiao .content_w .content_1 {
    width: 692px;
    height: 100px;
    background: #eee;
    margin-left: 19px;
    margin-top: 11px;
}

.chuxiao .content_w .content_1 .con_zuo {
    float: left;
    width: 478px;
    height: 100px;
}

.chuxiao .content_w .content_1 .con_zuo a {
    color: gray;
}

.chuxiao .content_w .content_1 .con_zuo .zuo_top {
    margin-left: 12px;
    font-weight: bolder;
    color: black;
    font-size: 13px;
    margin-top: 14px;
}

.chuxiao .content_w .content_1 .con_zuo .zuo_top span {
    color: red;
}

.chuxiao .content_w .content_1 .con_zuo .zuo_bottom {
    margin-left: 10px;
    margin-top: 23px;
    margin-bottom: 16px;
}

.chuxiao .content_w .content_1 .con_you {
    float: left;
    width: 214px;
    height: 100px;
}

.chuxiao .content_w .content_1 .con_you .kaishi {
    margin-top: 51px;
    margin-right: 14px;
    float: right;
}

.chuxiao .content_w .content_1 .con_you .jiezhi {
    margin-right: 16px;
    float: right;
}
